<ion-view view-title="Event">
<ion-nav-buttons side="right">
    <button id="logout" class="button button-light" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" on-swipe-left="takePhoto()">
  	<div class="mainContainer">
  	 	 <button ng-click="takePhoto()" class="button">Take a photo</button>
    	<h1>{{event.eventName}}</h1>
    	<div class="photoContainer row responsive-md">
	    	<div class="photoGrid col" ng-repeat="photo in photos | orderBy: '-date'">
	    		<div class="singlePhoto col col-center">
	    			<img ng-src="{{photo.imageUrl}}">
	    			<h2 ng-click="getUserPhotos(photo.userId)">{{photo.userName}}</h2>
	    		</div>
	    	</div>
    	</div>
  	</div>
  </ion-content>
</ion-view>
