<ion-view view-title="Eventics">
	<ion-nav-buttons side="left">
		<button class="button left button-light btnColor ion-ios-plus-empty" ng-click="modal.show()">
			Create Event
		</button>
	</ion-nav-buttons>

  <ion-nav-buttons side="secondary">
  	<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">Search
    </button>
    <button id="logout" class="button button-light btnColor ion-android-close" ng-click="logout()">
    </button>
  </ion-nav-buttons>

  <ion-content direction="y" scrollbar-y="false">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item class="eventDiv" collection-repeat="item in events" ng-click="viewEventPhotos(item._id)">
        <p class="eventName">{{item.eventName}}</p>
        <span class="locationSpan"> - {{item.location}}</span>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>



