<ion-view view-title="home">
<ion-nav-buttons side="right">
    <button id="logout" class="button button-light" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
  	<div class="mainContainer">
    	<h1>HOME</h1>
				 <button class="button" ng-click="modal.show()">
				 	Create Event
        </button>
 				 <div>
 				 	<h3>Events</h3>
 				 	<div class="eventHolder" ng-repeat="event in events">
 				 		<h4 ng-click="viewEventPhotos(event._id)">{{event.eventName}}</h4>
 				 	</div>
 				 </div>
  	</div>
  </ion-content>
</ion-view>

