<ion-view view-title="login">
  <ion-content class="padding">
  <div class="regLogin" ng-hide="!loginHide || !registerHide">
    <button type="button" class="button" ng-click="showRegister()">Register</button>
    <button type="button" class="button" ng-click="showLogin()">Login</button>
  </div>
  <div class="login" ng-hide="loginHide">
  	<input type="email" ng-model="loginObj.email" placeholder="Email">
  	<input type="password" ng-model="loginObj.password" placeholder="Password">
    <button type="button" class="button button-light" ng-click="login()">Login</button>
    <button type="button" class="button button-light" ng-click="cancelAction()">Cancel</button>

   </div>
   <div class="register" ng-hide="registerHide">
   	<input type="text" ng-model="registerObj.username" placeholder="Username">
   	<input type="email" ng-model="registerObj.email" placeholder="Email">
  	<input type="password" ng-model="registerObj.password" placeholder="Password">
    <button type="button" class="button button-light" ng-click="createUser()">Register</button>
    <button type="button" class="button button-light" ng-click="cancelAction()">Cancel</button>
   </div>
  </ion-content>
</ion-view>
