<ion-view view-title="User">
<ion-nav-buttons side="right">
    <button id="logout" class="button button-light" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" on-swipe-left="takePhoto()">
  	<div class="mainContainer">
  	 	<h1>{{user.userName}}</h1>
      <div class="photoGrid col" ng-repeat="photo in photos">
          <div class="singlePhoto col col-center">
            <img ng-src="{{photo.imageUrl}}">
          </div>
        </div>
  	</div>
  </ion-content>
</ion-view>
